ReStore/API/appsettings.json
ReStore/.vs/ReStore/v17/.suo
ReStore/.vs/ReStore/FileContentIndex/0c10facb-1593-4b77-a8fb-5426693b2934.vsidx
ReStore/.vs/ReStore/FileContentIndex/5b0da45d-36fe-49e4-84e4-e656d1046df0.vsidx
ReStore/.vs/ReStore/FileContentIndex/18e4d959-f941-4dbd-8e76-0910f26f1c97.vsidx
ReStore/.vs/ReStore/FileContentIndex/21a38313-025d-4d57-88d3-69c702d54d11.vsidx
ReStore/.vs/ReStore/FileContentIndex/fcb4ede0-058f-4110-bcc9-c773fb76f7dc.vsidx
ReStore/API/obj/Debug/net7.0/API.dll
ReStore/API/obj/Debug/net7.0/API.pdb
ReStore/API/obj/Debug/net7.0/API.dll
ReStore/API/obj/Debug/net7.0/API.AssemblyInfoInputs.cache
ReStore/API/obj/Debug/net7.0/API.AssemblyInfo.cs
ReStore/API/bin/Debug/net7.0/API.exe
